@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Circular Std';
    font-weight: normal;
    font-style: normal;
    src: url('./assets/fonts/CircularStd-Book.ttf') format("truetype");
  }

  @font-face {
    font-family: 'Roboto Slab';
    src: url('./assets/fonts/RobotoSlab-VariableFont_wght.ttf') format("truetype");
  }

  body {
    @apply text-black;
  }

  h1 {
    @apply text-xl text-center my-48 font-semibold;
  }

  h2 {
    @apply text-lg;
  }
}

@layer components {
  .btn {
    @apply px-24 py-12 border-2 rounded-md border-primary;
  }

  .btn:hover {
    @apply bg-primary-light;
  }

  .btn:focus {
    @apply bg-primary-light outline-none ring-1 ring-blue shadow-blue;
  }

  .btn:active {
    @apply bg-primary-light ring-2 ring-primary ring-offset-2;
  }

  .btn:disabled {
    @apply border-grey text-grey;
  }
  
  .excerpt {
    @apply italic text-lg text-center my-48 px-12;
  }
}

@layer utilities {
  .hide-on-desktop {
    @apply block lg:hidden !important;
  }

  .hide-on-mobile {
    @apply hidden lg:block !important;
  }
}