@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Circular Std';
    font-weight: normal;
    font-style: normal;
    src: url('./assets/fonts/CircularStd-Book.ttf') format("truetype");
  }

  @font-face {
    font-family: 'Roboto Slab';
    src: url('./assets/fonts/RobotoSlab-VariableFont_wght.ttf') format("truetype");
  }

  body {
    @apply text-grey;
  }

  h1 {
    @apply text-xl-mobile lg:text-xl text-center my-48 font-semibold;
  }

  h2 {
    @apply text-lg-mobile font-semibold mb-24 mt-48 lg:text-lg;
  }

  p {
    @apply text-sm lg:text-base;
  }
}

@layer components {
  .btn {
    @apply block my-48 px-24 py-12 border-2 rounded-lg border-primary mx-auto font-semibold text-sm;
  }

  .btn:hover {
    @apply bg-primary-light;
  }

  .btn:focus {
    @apply bg-primary-light outline-none ring-1 ring-blue shadow-blue;
  }

  .btn:active {
    @apply bg-primary-light ring-2 ring-primary ring-offset-2;
  }

  .btn:disabled {
    @apply border-grey text-grey;
  }

  .link, #content a {
    @apply text-primary relative;
  }

  .link::after, #content a::after {
    @apply bg-primary inline-block absolute bottom-0 left-0 w-full;
    content: '';
    height: 1px;
  }

  #content a::after {
    height: 2px;
  }

  #content figure {
    @apply flex flex-col my-48 relative -mx-24 lg:-mx-half;
  }
    
  #content blockquote {
    @apply justify-start font-serif text-sm text-secondary text-center shadow-quote p-24 font-light rounded-l-lg absolute bg-white max-w-blockquote top-fifteen lg:-ml-12 lg:p-48 lg:text-lg-mobile lg:top-quarter;
  }

  #content img {
    @apply rounded-r-lg self-end pl-24 lg:pl-quarter lg:mr-0;
  }

  #content figcaption {
    @apply text-xs mt-24 ml-24 mr-24 lg:mr-quarter lg:ml-quarter;
  }
}

@layer utilities {
  .hide-on-desktop {
    @apply block lg:hidden !important;
  }

  .hide-on-mobile {
    @apply hidden lg:block !important;
  }

  .center-content {
    @apply max-w-content lg:mx-auto;
  }
}