@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Circular Std';
    src: url('./assets/fonts/Circular\ Std\ Font.otf') format("otf");
  }

  @font-face {
    font-family: 'Roboto Slab';
    src: url('./assets/fonts/RobotoSlab-VariableFont_wght.ttf') format("ttf");
  }

  body {
    @apply font-sans;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
  
  .subtitle {

  }

  .caption, .small-text {

  }

  .quote {

  }
}

@layer components {
  .btn {
    @apply px-4 py-2 border-2 rounded-md border-primary text-black;
  }

  .btn:hover {
    @apply bg-primary-light;
  }

  .btn:focus {
    @apply bg-primary-light outline-none ring-1 ring-blue shadow-blue;
  }

  .btn:active {
    @apply bg-primary-light ring-2 ring-primary ring-offset-2;
  }

  .btn:disabled {
    @apply border-grey text-grey;
  }
}